<!--<nav class="navbar navbar-expand-lg navbar-light bg-light ">
	<a class="navbar-brand" [routerLink]="['/']">ngAcution</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="colapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['./lazy']">lazy</a>
		</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"   data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">Services</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Find products</a>
					<a class="dropdown-item" href="#">Place order</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Pay</a>
				</div>
			</li>

		</ul>
	</div>
</nav>-->
<mat-toolbar color="primary">
	<a style="color: azure;" [routerLink]="['/']">ngAcution</a>
	<div class="fill"></div>
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon> <!--este icono more_vert viene de la librería de google material-icon-->
	</button>
</mat-toolbar>
<mat-menu #menu="matMenu"> <!--sign # siver para declarar una variable en el DOM, en este caso declara la variable menu con valor matMenu, 
	que será consumida en  <button mat-icon-button [matMenuTriggerFor]="menu">. Esto es, declaro una variable de tipo menú 
		y la uso en el boton que ya tiene un binding para disparar el menú que se le pase-->
	<button mat-menu-item>
		<mat-icon>info</mat-icon>
		<span>About</span>
	</button>
	<button mat-menu-item>
		<mat-icon>settings</mat-icon>
		<span>Services</span>
	</button>
	<button mat-menu-item>
		<mat-icon>contacts</mat-icon>
		<span>Contact</span>
	</button>
</mat-menu>