<div class="cajaBlock">
    <div class="cajaLinea">
    <h2 id="caca" class="chorrada">chorradas-css works!</h2>
    </div>
    <div class="cajaLinea">
        <h2  class="chorrada">chorradas-css works2222!</h2>
     </div>
     <div class="cajaLinea">
        <h2  class="chorrada">chorradas-css works3!</h2>
     </div>
     <div class="cajaLinea"><!--esto no cabe ya en la linea así que lo pone en la parte de abajo-->
        <h2  class="chorrada">chorradas-css works4!</h2>
     </div>
</div>

<h2>ahora un grid bootstrap</h2>

<div class="content">
    <div class="row">
        <div class="col">.col</div>
        <div class="col">.col</div>
        <div class="col">.col</div>
        <div class="col">.col</div>
    </div>
</div>

<div class="progress">
    <div class="progress-bar" style="width:70%"></div>
  </div>
 
  <div class="media border p-3">
    <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
      <p>Lorem ipsum...</p>
    </div>
  </div>
  